<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    
    <body>
        <div class="main-content">
            <!--Partial Header-->
            {{>header}}
            <p>This site was created by JA Mbumba. It uses data from mapbox.com and darksky.net!</p>
            <img class="portrait" src="/img/Mbumba.jpg" alt="profile_Pic">
        </div>
       
        <!--Partial footer-->
        {{>footer}}
        
    </body>
</html>